trunk/iSpyApplication/XML/objects.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="objects">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cameras">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="camera">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="settings">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="sourceindex" type="xs:int" />
                                                    <xs:element name="codec" type="xs:string" />
                                                    <xs:element name="videosourcestring" type="xs:string" />
                                                    <xs:element name="login" type="xs:string" />
                                                    <xs:element name="password" type="xs:string" />
                                                    <xs:element name="useragent" type="xs:string" />
                                                    <xs:element name="suppressnoise" type="xs:boolean" />
                                                    <xs:element name="audioport" type="xs:int"/>
                                                    <xs:element name="audiomodel" type="xs:string"/>
                                                    <xs:element name="audioip" type="xs:string"/>
                                                    <xs:element name="audiousername" type="xs:string"/>
                                                    <xs:element name="audiopassword" type="xs:string"/>
                                                    <xs:element name="usehttp10" type="xs:boolean" />
                                                    <xs:element name="active" type="xs:boolean" />
                                                    <xs:element name="notifyondisconnect" type="xs:boolean" />
                                                    <xs:element name="frameinterval" type="xs:int"/>
                                                    <xs:element name="framerate" type="xs:int"/>
                                                    <xs:element name="smsnumber" type="xs:string"/>
                                                    <xs:element name="emailaddress" type="xs:string"/>
                                                    <xs:element name="ffmpeg" type="xs:string"/>
                                                    <xs:element name="deleteavi" type="xs:boolean"/>
                                                    <xs:element name="micpair" type="xs:int"/>
                                                    <xs:element name="maskimage" type="xs:string"/>
                                                    <xs:element name="timestampformatter" type="xs:string"/>
                                                    <xs:element name="timestamplocation" type="xs:int"/>
                                                    <xs:element name="timestampfontsize" type="xs:int" default="10"/>
                                                    <xs:element name="timestampoffset" type="xs:decimal" default="0"/>
                                                    <xs:element name="desktopresizewidth" type="xs:int"/>
                                                    <xs:element name="desktopresizeheight" type="xs:int"/>
                                                    <xs:element name="desktoparea" type="xs:string"/>
                                                    <xs:element name="desktopmouse" type="xs:boolean"/>
                                                    <xs:element name="resize" type="xs:boolean" default="false"/>
                                                    <xs:element name="vlcargs" type="xs:string"/>
                                                    <xs:element name="ptzusername" type="xs:string" default=""/>
                                                    <xs:element name="ptzpassword" type="xs:string" default=""/>
                                                    <xs:element name="ptzflipx" type="xs:boolean" default="true"/>
                                                    <xs:element name="ptzflipy" type="xs:boolean" default="true"/>
                                                    <xs:element name="ptzrotate90" type="xs:boolean" default="true"/>
                                                    <xs:element name="ptzurlbase" type="xs:string"/>
                                                    <xs:element name="ptzautotrack" type="xs:boolean" default="true"/>
                                                    <xs:element name="ptzautotrackreverse" type="xs:boolean" default="true"/>
                                                    <xs:element name="ptzautohome" type="xs:boolean" default="false"/>
                                                    <xs:element name="ptzchannel" type="xs:string" default="0"/>
                                                    <xs:element name="ptzautohomecommand" type="xs:string" default=""/>
                                                    <xs:element name="ptzautohomedelay" type="xs:int" default="30"/>
                                                    <xs:element name="ptztimetohome" type="xs:int" default="60"/>
                                                    <xs:element name="ptzautotrackmode" type="xs:int" default="0"/>
                                                    <xs:element name="maxframerate" type="xs:int" default="10"/>
                                                    <xs:element name="maxframeraterecord" type="xs:int" default="10"/>
                                                    <xs:element name="reconnectinterval" type="xs:int" default="0"/>
                                                    <xs:element name="namevaluesettings" type="xs:string" default=""/>
                                                    <xs:element name="accessgroups" type="xs:string" default=""/>
                                                    <xs:element name="forcebasic" type="xs:boolean" default="true"/>
                                                    <xs:element name="crossbarindex" type="xs:int" default="0"/>
                                                    <xs:element name="cookies" type="xs:string" default=""/>
                                                    <xs:element name="youtube">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="autoupload" type="xs:boolean" />
                                                                <xs:element name="public" type="xs:boolean" default="false" />
                                                                <xs:element name="tags" type="xs:string" />
                                                                <xs:element name="category" type="xs:string" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="ftp">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="enabled" type="xs:boolean" />
                                                    <xs:element name="server" type="xs:string" />
                                                    <xs:element name="username" type="xs:string" />
                                                    <xs:element name="password" type="xs:string" />
                                                    <xs:element name="filename" type="xs:string" />
                                                    <xs:element name="port" type="xs:int" />
                                                    <xs:element name="interval" type="xs:int" />
                                                    <xs:element name="ftpmode" type="xs:int" default="2"/>
                                                    <xs:element name="ready" type="xs:boolean"/>
                                                    <xs:element name="usepassive" type="xs:boolean"/>
                                                    <xs:element name="text" type="xs:string" default="www.ispyconnect.com"/>
                                                    <xs:element name="savelocal" type="xs:boolean" default="false"/>
                                                    <xs:element name="quality" type="xs:int" />
                                                    <xs:element name="localfilename" type="xs:string" default="{0:yyyy-MM-dd_HH-mm-ss_fff}.jpg"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="detector">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="motionzones">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element maxOccurs="unbounded" name="zone">
                                                                    <xs:complexType>
                                                                        <xs:attribute name="left" type="xs:int" use="required" />
                                                                        <xs:attribute name="top" type="xs:int" use="required" />
                                                                        <xs:attribute name="width" type="xs:int" use="required" />
                                                                        <xs:attribute name="height" type="xs:int" use="required" />
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="type" type="xs:string" use="required" />
                                                <xs:attribute name="postprocessor" type="xs:string" use="required" />
                                                <xs:attribute name="nomovementinterval" type="xs:int" use="required" />
                                                <xs:attribute name="movementinterval" type="xs:int" use="required" />
                                                <xs:attribute name="calibrationdelay" type="xs:int" use="required" />
                                                <xs:attribute name="sensitivity" type="xs:double" use="required" />
                                                <xs:attribute name="color" type="xs:string" use="required" />
                                                <xs:attribute name="keepobjectedges" type="xs:boolean" use="required" />
                                                <xs:attribute name="recordondetect" type="xs:boolean" use="required" />
                                                <xs:attribute name="recordonalert" type="xs:boolean" use="required" />
                                                <xs:attribute name="processeveryframe" type="xs:int" use="required" />
                                                <xs:attribute name="minwidth" type="xs:int" default="20"/>
                                                <xs:attribute name="minheight" type="xs:int" default="20"/>
                                                <xs:attribute name="highlight" type="xs:boolean" default="true"/>
                                                <xs:attribute name="colourprocessing" type="xs:string" default=""/>
                                                <xs:attribute name="colourprocessingenabled" type="xs:boolean" default="false"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="recorder">
                                            <xs:complexType>
                                                <xs:attribute name="bufferframes" type="xs:int" use="required" />
                                                <xs:attribute name="bufferseconds" type="xs:int" default="3" />
                                                <xs:attribute name="inactiverecord" type="xs:int" use="required" />
                                                <xs:attribute name="maxrecordtime" type="xs:int" use="required" />
                                                <xs:attribute name="timelapse" type="xs:int" use="required" />
                                                <xs:attribute name="timelapseframes" type="xs:int" use="required" />
                                                <xs:attribute name="timelapseenabled" type="xs:boolean" default="true" />
                                                <xs:attribute name="quality" type="xs:int" default="8" />
                                                <xs:attribute name="timelapsesave" type="xs:int" default="60" />
                                                <xs:attribute name="timelapseframerate" type="xs:int" default="5" />
                                                <xs:attribute name="profile" type="xs:int" default="0" />
                                                <xs:attribute name="crf" type="xs:boolean" default="true" />
                                                <xs:attribute name="trigger" type="xs:string" default=""/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="alerts">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="alertoptions" type="xs:string" />
                                                    <xs:element name="executefile" type="xs:string" />
                                                    <xs:element name="arguments" type="xs:string" />
                                                </xs:sequence>
                                                <xs:attribute name="minimuminterval" type="xs:int" use="required" />
                                                <xs:attribute name="objectcountalert" type="xs:int" use="required" />
                                                <xs:attribute name="active" type="xs:boolean" use="required" />
                                                <xs:attribute name="mode" type="xs:string" use="required" />
                                                <xs:attribute name="numberplates" type="xs:string"/>
                                                <xs:attribute name="numberplatesmode" type="xs:int" default="0"/>
                                                <xs:attribute name="numberplatesinterval" type="xs:string" default="1"/>
                                                <xs:attribute name="numberplatesaccuracy" type="xs:int" default="80"/>
                                                <xs:attribute name="overlay" type="xs:boolean" default="true"/>
                                                <xs:attribute name="numberplatesarea" type="xs:string" default=""/>
                                                <xs:attribute name="pluginconfig" type="xs:string" default=""/>
                                                <xs:attribute name="processmode" type="xs:string" default="continuous"/>
                                                <xs:attribute name="maximise" type="xs:boolean"/>
                                                <xs:attribute name="trigger" type="xs:string" default=""/>
                                                <xs:attribute name="playsound" type="xs:string" default=""/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="notifications">
                                            <xs:complexType>
                                                <xs:attribute name="emailgrabinterval" type="xs:int" use="required" />
                                                <xs:attribute name="sendemail" type="xs:boolean" use="required" />
                                                <xs:attribute name="sendsms" type="xs:boolean" use="required" />
                                                <xs:attribute name="sendmms" type="xs:boolean" use="required" />
                                                <xs:attribute name="sendtwitter" type="xs:boolean" default="false" use="optional"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="schedule">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="entries">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" name="entry">
                                                        <xs:complexType>
                                                            <xs:attribute name="start" type="xs:string" use="required" />
                                                            <xs:attribute name="stop" type="xs:string" use="required" />
                                                            <xs:attribute name="daysofweek" type="xs:string" use="required" />
                                                            <xs:attribute name="recordonstart" type="xs:boolean" />
                                                            <xs:attribute name="active" type="xs:boolean" default="true" />
                                                            <xs:attribute name="recordondetect" type="xs:boolean" default="true" />
                                                            <xs:attribute name="recordonalert" type="xs:boolean" default="true" />
                                                            <xs:attribute name="timelapseenabled" type="xs:boolean" default="true" />
                                                            <xs:attribute name="ftpenabled" type="xs:boolean" default="false" />
                                                            <xs:attribute name="savelocalenabled" type="xs:boolean" default="false" />
                                                            <xs:attribute name="alerts" type="xs:boolean" default="true" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="active" type="xs:boolean" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="ptzschedule">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="entries">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element maxOccurs="unbounded" name="entry">
                                                                    <xs:complexType>
                                                                        <xs:attribute name="command" type="xs:string" use="required" />
                                                                        <xs:attribute name="time" type="xs:string" use="required" />
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="active" type="xs:boolean" use="required" />
                                                <xs:attribute name="suspend" type="xs:boolean" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:int" use="required" />
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                    <xs:attribute name="description" use="required"/>
                                    <xs:attribute name="directory" use="required"/>
                                    <xs:attribute name="flipx" type="xs:boolean" use="required" />
                                    <xs:attribute name="flipy" type="xs:boolean" use="required" />
                                    <xs:attribute name="rotate90" type="xs:boolean" default="false" />
                                    <xs:attribute name="x" type="xs:int" use="required" />
                                    <xs:attribute name="y" type="xs:int" use="required" />
                                    <xs:attribute name="width" type="xs:int" use="required" />
                                    <xs:attribute name="height" type="xs:int" use="required" />
                                    <xs:attribute name="resolution" type="xs:string" use="required" />
                                    <xs:attribute name="decodekey" type="xs:string" use="optional" />
                                    <xs:attribute name="ptz" type="xs:int" use="required" />
                                    <xs:attribute name="ptzentryindex" type="xs:int" default="0" />
                                    <xs:attribute name="newrecordingcount" type="xs:int" default="0"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="microphones">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="microphone">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="settings">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="sourceindex" type="xs:int" />
                                                    <xs:element name="buffer" type="xs:int" />
                                                    <xs:element name="samples" type="xs:int" />
                                                    <xs:element name="bits" type="xs:int" />
                                                    <xs:element name="channels" type="xs:int" />
                                                    <xs:element name="needsupdate" type="xs:boolean" />
                                                    <xs:element name="active" type="xs:boolean" />
                                                    <xs:element name="smsnumber" type="xs:string" />
                                                    <xs:element name="emailaddress" type="xs:string"/>
                                                    <xs:element name="sourcename" type="xs:string" />
                                                    <xs:element name="deviceout" type="xs:string"/>
                                                    <xs:element name="typeindex" type="xs:int" />
                                                    <xs:element name="volume" type="xs:int" default="50" />
                                                    <xs:element name="gain" type="xs:float" default="1" />
                                                    <xs:element name="username" type="xs:string" />
                                                    <xs:element name="password" type="xs:string" />
                                                    <xs:element name="ffmpeg" type="xs:string"/>
                                                    <xs:element name="deletewav" type="xs:boolean"/>
                                                    <xs:element name="decompress" type="xs:boolean"/>
                                                    <xs:element name="notifyondisconnect" type="xs:boolean" />
                                                    <xs:element name="vlcargs" type="xs:string"/>
                                                    <xs:element name="reconnectinterval" type="xs:int"/>
                                                    <xs:element name="accessgroups" type="xs:string" default=""/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="detector">
                                            <xs:complexType>
                                                <xs:attribute name="sensitivity" type="xs:int" use="required" />
                                                <xs:attribute name="nosoundinterval" type="xs:int" use="required" />
                                                <xs:attribute name="soundinterval" type="xs:int" use="required" />
                                                <xs:attribute name="recordondetect" type="xs:boolean" use="required" />
                                                <xs:attribute name="recordonalert" type="xs:boolean" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="recorder">
                                            <xs:complexType>
                                                <xs:attribute name="inactiverecord" type="xs:int" use="required" />
                                                <xs:attribute name="maxrecordtime" type="xs:int" use="required" />
                                                <xs:attribute name="trigger" type="xs:string" default=""/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="alerts">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="alertoptions" type="xs:string" />
                                                    <xs:element name="executefile" type="xs:string" />
                                                    <xs:element name="arguments" type="xs:string" />
                                                </xs:sequence>
                                                <xs:attribute name="minimuminterval" type="xs:int" use="required" />
                                                <xs:attribute name="active" type="xs:boolean" use="required" />
                                                <xs:attribute name="mode" type="xs:string" use="required" />
                                                <xs:attribute name="trigger" type="xs:string" default=""/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="notifications">
                                            <xs:complexType>
                                                <xs:attribute name="sendemail" type="xs:boolean" use="required" />
                                                <xs:attribute name="sendsms" type="xs:boolean" use="required" />
                                                <xs:attribute name="sendtwitter" type="xs:boolean" default="false" use="optional"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="schedule">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="entries">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element maxOccurs="unbounded" name="entry">
                                                                    <xs:complexType>
                                                                        <xs:attribute name="start" type="xs:string" use="required" />
                                                                        <xs:attribute name="stop" type="xs:string" use="required" />
                                                                        <xs:attribute name="daysofweek" type="xs:string" use="required" />
                                                                        <xs:attribute name="recordonstart" type="xs:boolean" />
                                                                        <xs:attribute name="active" type="xs:boolean" default="true" />
                                                                        <xs:attribute name="recordondetect" type="xs:boolean" default="true" />
                                                                        <xs:attribute name="recordonalert" type="xs:boolean" default="true" />
                                                                        <xs:attribute name="alerts" type="xs:boolean" default="true" />
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>

                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="active" type="xs:boolean" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:int" use="required" />
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                    <xs:attribute name="description" use="required"/>
                                    <xs:attribute name="directory" use="required"/>
                                    <xs:attribute name="x" type="xs:int" use="required" />
                                    <xs:attribute name="y" type="xs:int" use="required" />
                                    <xs:attribute name="width" type="xs:int" use="required" />
                                    <xs:attribute name="height" type="xs:int" use="required" />
                                    <xs:attribute name="newrecordingcount" type="xs:int" default="0"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="floorplans">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="floorplan">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="objects">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="object">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element maxOccurs="unbounded" name="entry">
                                                                    <xs:complexType>
                                                                        <xs:attribute name="type" type="xs:string" use="required" />
                                                                        <xs:attribute name="id" type="xs:int" use="required" />
                                                                        <xs:attribute name="x" type="xs:int" use="required" />
                                                                        <xs:attribute name="y" type="xs:int" use="required" />
                                                                        <xs:attribute name="angle" type="xs:int" default="0" />
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:int" use="required" />
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                    <xs:attribute name="x" type="xs:int" use="required" />
                                    <xs:attribute name="y" type="xs:int" use="required" />
                                    <xs:attribute name="width" type="xs:int" use="required" />
                                    <xs:attribute name="height" type="xs:int" use="required" />
                                    <xs:attribute name="image" type="xs:string" use="required" />
                                    <xs:attribute name="originalsize" type="xs:boolean" use="optional" />
                                    <xs:attribute name="fov" type="xs:int" default="90"/>
                                    <xs:attribute name="radius" type="xs:int" default="80"/>
                                    <xs:attribute name="needsupdate" type="xs:boolean" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="remotecommands">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="command">
                                <xs:complexType>
                                    <xs:attribute name="id" type="xs:int" use="required" />
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                    <xs:attribute name="command" type="xs:string" use="required" />
                                    <xs:attribute name="smscommand" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>