iSpyApplication/Web References/iSpyWS/ispysecure.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ispyconnect.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ispyconnect.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ispyconnect.com/">
      <s:element name="TestConnection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="port" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="identifier" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tryLoopback" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="bIPv4" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ipAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestConnectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestConnectionResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RemoteAddress">
        <s:complexType />
      </s:element>
      <s:element name="RemoteAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RemoteAddressResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Connect">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="port" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="identifier" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tryLoopBack" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="computerName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="bIPv4" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ipAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConnectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConnectResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Encrypt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="toEncrypt" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EncryptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EncryptResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PingAlive">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="port" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="bIPv4" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ipAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PingAliveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PingAliveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PingAlive2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="port" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PingAlive2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PingAlive2Result" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PingAlive3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="port" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ipv4" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ipexternal" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PingAlive3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PingAlive3Result" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Disconnect">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="port" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisconnectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DisconnectResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sync">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="port" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="internalIPAddress" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="internalPort" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="objectList" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="bIPv4" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ipAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SyncResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SyncResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendContent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendContentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendContentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendAlert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="alertSubject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="alertBody" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendAlertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendAlertResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendAlertWithImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="alertSubject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="alertBody" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imageData" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendAlertWithImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendAlertWithImageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="smsNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSMSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendFrameGrab">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imageData" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendFrameGrabResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendFrameGrabResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="smsNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imageData" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendMMSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendTweet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendTweetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendTweetResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProductLatestVersionGet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="productId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProductLatestVersionGetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProductLatestVersionGetResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TestConnectionSoapIn">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="TestConnectionSoapOut">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="RemoteAddressSoapIn">
    <wsdl:part name="parameters" element="tns:RemoteAddress" />
  </wsdl:message>
  <wsdl:message name="RemoteAddressSoapOut">
    <wsdl:part name="parameters" element="tns:RemoteAddressResponse" />
  </wsdl:message>
  <wsdl:message name="ConnectSoapIn">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="ConnectSoapOut">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="EncryptSoapIn">
    <wsdl:part name="parameters" element="tns:Encrypt" />
  </wsdl:message>
  <wsdl:message name="EncryptSoapOut">
    <wsdl:part name="parameters" element="tns:EncryptResponse" />
  </wsdl:message>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="PingAliveSoapIn">
    <wsdl:part name="parameters" element="tns:PingAlive" />
  </wsdl:message>
  <wsdl:message name="PingAliveSoapOut">
    <wsdl:part name="parameters" element="tns:PingAliveResponse" />
  </wsdl:message>
  <wsdl:message name="PingAlive2SoapIn">
    <wsdl:part name="parameters" element="tns:PingAlive2" />
  </wsdl:message>
  <wsdl:message name="PingAlive2SoapOut">
    <wsdl:part name="parameters" element="tns:PingAlive2Response" />
  </wsdl:message>
  <wsdl:message name="PingAlive3SoapIn">
    <wsdl:part name="parameters" element="tns:PingAlive3" />
  </wsdl:message>
  <wsdl:message name="PingAlive3SoapOut">
    <wsdl:part name="parameters" element="tns:PingAlive3Response" />
  </wsdl:message>
  <wsdl:message name="DisconnectSoapIn">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="DisconnectSoapOut">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="SyncSoapIn">
    <wsdl:part name="parameters" element="tns:Sync" />
  </wsdl:message>
  <wsdl:message name="SyncSoapOut">
    <wsdl:part name="parameters" element="tns:SyncResponse" />
  </wsdl:message>
  <wsdl:message name="SendContentSoapIn">
    <wsdl:part name="parameters" element="tns:SendContent" />
  </wsdl:message>
  <wsdl:message name="SendContentSoapOut">
    <wsdl:part name="parameters" element="tns:SendContentResponse" />
  </wsdl:message>
  <wsdl:message name="SendAlertSoapIn">
    <wsdl:part name="parameters" element="tns:SendAlert" />
  </wsdl:message>
  <wsdl:message name="SendAlertSoapOut">
    <wsdl:part name="parameters" element="tns:SendAlertResponse" />
  </wsdl:message>
  <wsdl:message name="SendAlertWithImageSoapIn">
    <wsdl:part name="parameters" element="tns:SendAlertWithImage" />
  </wsdl:message>
  <wsdl:message name="SendAlertWithImageSoapOut">
    <wsdl:part name="parameters" element="tns:SendAlertWithImageResponse" />
  </wsdl:message>
  <wsdl:message name="SendSMSSoapIn">
    <wsdl:part name="parameters" element="tns:SendSMS" />
  </wsdl:message>
  <wsdl:message name="SendSMSSoapOut">
    <wsdl:part name="parameters" element="tns:SendSMSResponse" />
  </wsdl:message>
  <wsdl:message name="SendFrameGrabSoapIn">
    <wsdl:part name="parameters" element="tns:SendFrameGrab" />
  </wsdl:message>
  <wsdl:message name="SendFrameGrabSoapOut">
    <wsdl:part name="parameters" element="tns:SendFrameGrabResponse" />
  </wsdl:message>
  <wsdl:message name="SendMMSSoapIn">
    <wsdl:part name="parameters" element="tns:SendMMS" />
  </wsdl:message>
  <wsdl:message name="SendMMSSoapOut">
    <wsdl:part name="parameters" element="tns:SendMMSResponse" />
  </wsdl:message>
  <wsdl:message name="SendTweetSoapIn">
    <wsdl:part name="parameters" element="tns:SendTweet" />
  </wsdl:message>
  <wsdl:message name="SendTweetSoapOut">
    <wsdl:part name="parameters" element="tns:SendTweetResponse" />
  </wsdl:message>
  <wsdl:message name="ProductLatestVersionGetSoapIn">
    <wsdl:part name="parameters" element="tns:ProductLatestVersionGet" />
  </wsdl:message>
  <wsdl:message name="ProductLatestVersionGetSoapOut">
    <wsdl:part name="parameters" element="tns:ProductLatestVersionGetResponse" />
  </wsdl:message>
  <wsdl:portType name="iSpySecureSoap">
    <wsdl:operation name="TestConnection">
      <wsdl:input message="tns:TestConnectionSoapIn" />
      <wsdl:output message="tns:TestConnectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoteAddress">
      <wsdl:input message="tns:RemoteAddressSoapIn" />
      <wsdl:output message="tns:RemoteAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Connect">
      <wsdl:input message="tns:ConnectSoapIn" />
      <wsdl:output message="tns:ConnectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Encrypt">
      <wsdl:input message="tns:EncryptSoapIn" />
      <wsdl:output message="tns:EncryptSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input message="tns:PingSoapIn" />
      <wsdl:output message="tns:PingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PingAlive">
      <wsdl:input message="tns:PingAliveSoapIn" />
      <wsdl:output message="tns:PingAliveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PingAlive2">
      <wsdl:input message="tns:PingAlive2SoapIn" />
      <wsdl:output message="tns:PingAlive2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PingAlive3">
      <wsdl:input message="tns:PingAlive3SoapIn" />
      <wsdl:output message="tns:PingAlive3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input message="tns:DisconnectSoapIn" />
      <wsdl:output message="tns:DisconnectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Sync">
      <wsdl:input message="tns:SyncSoapIn" />
      <wsdl:output message="tns:SyncSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendContent">
      <wsdl:input message="tns:SendContentSoapIn" />
      <wsdl:output message="tns:SendContentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendAlert">
      <wsdl:input message="tns:SendAlertSoapIn" />
      <wsdl:output message="tns:SendAlertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendAlertWithImage">
      <wsdl:input message="tns:SendAlertWithImageSoapIn" />
      <wsdl:output message="tns:SendAlertWithImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSMS">
      <wsdl:input message="tns:SendSMSSoapIn" />
      <wsdl:output message="tns:SendSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendFrameGrab">
      <wsdl:input message="tns:SendFrameGrabSoapIn" />
      <wsdl:output message="tns:SendFrameGrabSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMMS">
      <wsdl:input message="tns:SendMMSSoapIn" />
      <wsdl:output message="tns:SendMMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendTweet">
      <wsdl:input message="tns:SendTweetSoapIn" />
      <wsdl:output message="tns:SendTweetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProductLatestVersionGet">
      <wsdl:input message="tns:ProductLatestVersionGetSoapIn" />
      <wsdl:output message="tns:ProductLatestVersionGetSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="iSpySecureSoap" type="tns:iSpySecureSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://ispyconnect.com/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoteAddress">
      <soap:operation soapAction="http://ispyconnect.com/RemoteAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Connect">
      <soap:operation soapAction="http://ispyconnect.com/Connect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Encrypt">
      <soap:operation soapAction="http://ispyconnect.com/Encrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://ispyconnect.com/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PingAlive">
      <soap:operation soapAction="http://ispyconnect.com/PingAlive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PingAlive2">
      <soap:operation soapAction="http://ispyconnect.com/PingAlive2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PingAlive3">
      <soap:operation soapAction="http://ispyconnect.com/PingAlive3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap:operation soapAction="http://ispyconnect.com/Disconnect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sync">
      <soap:operation soapAction="http://ispyconnect.com/Sync" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendContent">
      <soap:operation soapAction="http://ispyconnect.com/SendContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAlert">
      <soap:operation soapAction="http://ispyconnect.com/SendAlert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAlertWithImage">
      <soap:operation soapAction="http://ispyconnect.com/SendAlertWithImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMS">
      <soap:operation soapAction="http://ispyconnect.com/SendSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFrameGrab">
      <soap:operation soapAction="http://ispyconnect.com/SendFrameGrab" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMMS">
      <soap:operation soapAction="http://ispyconnect.com/SendMMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTweet">
      <soap:operation soapAction="http://ispyconnect.com/SendTweet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductLatestVersionGet">
      <soap:operation soapAction="http://ispyconnect.com/ProductLatestVersionGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="iSpySecureSoap12" type="tns:iSpySecureSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnection">
      <soap12:operation soapAction="http://ispyconnect.com/TestConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoteAddress">
      <soap12:operation soapAction="http://ispyconnect.com/RemoteAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://ispyconnect.com/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Encrypt">
      <soap12:operation soapAction="http://ispyconnect.com/Encrypt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://ispyconnect.com/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PingAlive">
      <soap12:operation soapAction="http://ispyconnect.com/PingAlive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PingAlive2">
      <soap12:operation soapAction="http://ispyconnect.com/PingAlive2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PingAlive3">
      <soap12:operation soapAction="http://ispyconnect.com/PingAlive3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://ispyconnect.com/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sync">
      <soap12:operation soapAction="http://ispyconnect.com/Sync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendContent">
      <soap12:operation soapAction="http://ispyconnect.com/SendContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAlert">
      <soap12:operation soapAction="http://ispyconnect.com/SendAlert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAlertWithImage">
      <soap12:operation soapAction="http://ispyconnect.com/SendAlertWithImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMS">
      <soap12:operation soapAction="http://ispyconnect.com/SendSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFrameGrab">
      <soap12:operation soapAction="http://ispyconnect.com/SendFrameGrab" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMMS">
      <soap12:operation soapAction="http://ispyconnect.com/SendMMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTweet">
      <soap12:operation soapAction="http://ispyconnect.com/SendTweet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductLatestVersionGet">
      <soap12:operation soapAction="http://ispyconnect.com/ProductLatestVersionGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="iSpySecure">
    <wsdl:port name="iSpySecureSoap" binding="tns:iSpySecureSoap">
      <soap:address location="https://www.ispyconnect.com/webservices/ispysecure.asmx" />
    </wsdl:port>
    <wsdl:port name="iSpySecureSoap12" binding="tns:iSpySecureSoap12">
      <soap12:address location="https://www.ispyconnect.com/webservices/ispysecure.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>